
.image-container {
  position: relative;
  display: inline-block;
}
.number {
  position: absolute;
  top: 25px;
  left: 8px;
  color: #ffffff;
  padding: 5px 10px;
  border-radius: 50%;
  font-size: 20px;
}
.section {
  display: none;
}
.section.active {
  display: block;
}